<section class="page-header">
  <div class="row">
    <div class="col-md-8">
      <h1><%= link_to @project.name, projects_url %> Board</h1>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-pills pull-right">
        <li class="nav-item">
          <%= link_to(backlog_url(project_id_str: @project.project_id_str), class: 'nav-link') do %>
            <span class="label label-default"><%= @stats.backlogs %></span>&nbsp;Backlogs
          <% end -%>
        </li>
        <li class="nav-item">
          <%= link_to(result_url(project_id_str: @project.project_id_str), class: 'nav-link') do %>
            <span class="label label-default"><%= @stats.ships %></span>&nbsp;Ships
          <% end -%>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-9 col-md-offset-4">
      <h2>ワークフローの設定をします。</h2>
      <p>最初のフェーズの情報を入力してください。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-offset-4">
      <%= form_for @command, url: workflows_url do |f| %>
        <%= f.hidden_field :project_id_str %>
        <div class="form-group row">
          <%= f.label :phase_name, class: 'col-md-2 control-label' %>
          <div class="col-md-3">
            <%= f.text_field :phase_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :wip_limit, class: 'col-md-2 control-label' %>
          <div class="col-md-3">
            <%= f.number_field :wip_limit, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2 col-md-offset-2">
            <%= f.submit 'Add phase', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</section>
