<section class="page-header">
  <div class="row">
    <div class="col-md-8">
      <h1><%= link_to @result.project.name, projects_url %> Result</h1>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-pills pull-right">
        <li class="nav-item">
          <%= link_to(backlog_url(project_id_str: @result.project.project_id_str), class: 'nav-link') do %>
            <span class="label label-default"><%= @stats.backlogs %></span>&nbsp;Backlogs
          <% end -%>
        </li>
        <li class="nav-item">
          <%= link_to(board_url(project_id_str: @result.project.project_id_str), class: 'nav-link') do %>
            <span class="label label-default"><%= @stats.wip %></span>&nbsp;WIP
          <% end -%>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover ids">
        <thead>
          <tr>
            <th>#</th>
            <th>Summary</th>
            <th>Detail</th>
            <th>Lead time (hours)</th>
          </tr>
        </thead>
        <tbody>
          <% @result.shipped_features.each do |feature| %>
            <tr>
              <td><%= feature.id %></td>
              <td><%= feature.summary %></td>
              <td><%= feature.detail %></td>
              <td><%= feature.lead_time %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</section>
