<section class="page-header">
  <div class="row">
    <div class="col-md-8">
      <h1>プロジェクト</h1>
    </div>
    <div class="col-md-4">
      <%= link_to 'Launch new project', new_project_launching_url, class: 'btn btn-secondary pull-right' %>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <table class="table actions">
        <thead>
          <tr>
            <th>Name</th>
            <th>Goal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.goal %></td>
              <td>
                <div class="pull-right">
                  <%= link_to 'Board', board_url(project.project_id_str) %> |
                  <%= link_to 'Backlog', backlog_url(project.project_id_str) %>
                </div>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</section>
