<tbody>
  <tr>
    <% phase_states.each do |state| -%>
      <td style="vertical-align: top">
        <% body.cards(state.phase_name, state.name).each do |card| -%>
          <div class="card">
            <div class="card-header text-muted">#<%= card.id %></div>
            <div class="card-block">
              <h3 class="card-title"><%= card.summary %></h3>
              <p clsss="card-text"><%= card.detail.gsub(/\r\n|\n|\r/, '<br>').html_safe %></p>
              <%= form_for card.forward_card_command, url: card_forwardings_url do |f| -%>
                <%= f.hidden_field :project_id_str -%>
                <%= f.hidden_field :feature_id_str -%>
                <%= f.hidden_field :step_phase_name -%>
                <%= f.hidden_field :step_state_name -%>
                <%= f.submit raw('&#10140;'), class: 'btn btn-secondary-outline btn-block' -%>
              <% end -%>
            </div>
          </div>
        <% end -%>
      </td>
    <% end -%>
  </tr>
</tbody>
