<thead>
  <tr>
    <% phases.each_with_index do |phase, i| -%>

      <% dropdown_id = "phase-menu-#{i}" -%>
      <% wip_limit_changing_form_id = "wip-limit-changing-form-#{i}" %>

      <th colspan="<%= phase.state_size %>">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="<%= dropdown_id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="header-phase"><%= phase.name %></span>&nbsp;<span class="label label-pill label-danger"><%= phase.wip_limit %></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= dropdown_id %>">
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#<%= wip_limit_changing_form_id %>">WIP制限を変更する</button>
          </div>
        </div>
      </th>
      <%= render partial: 'wip_limit_changing_form', locals: {
        id: wip_limit_changing_form_id,
        phase: phase
      } -%>
    <% end -%>
  </tr>
  <tr>
    <% phase_states.each do |phase_state| -%>
      <th><%= phase_state.name %></th>
    <% end -%>
  </tr>
</thead>
