<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h4 class="modal-title" id="modal-window">新しいフェーズを<%= @command.direction == 'before' ? '前': '後' %>に追加</h4>
    </div>
    <%= form_for @command, url: phase_spec_addings_url, remote: true do |f| %>
      <%= render partial: 'application/modal_window_form_errors', locals: { errors: f.object.errors } %>
      <%= f.hidden_field :project_id_str %>
      <%= f.hidden_field :direction %>
      <%= f.hidden_field :base_phase_name %>
      <div class="modal-body">
        <div class="form-group row">
          <%= f.label '名前', class: 'col-sm-6 control-label' %>
          <div class="col-sm-6">
            <%= f.text_field :phase_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label 'WIP制限', class: 'col-sm-6 control-label' %>
          <div class="col-sm-6">
            <%= f.number_field :wip_limit_count, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit '追加する', class: 'btn btn-primary' %>
      </div>
    <% end -%>
  </div>
</div>
