<header class="board-page">
  <h2><%= link_to @board.project_name, projects_url %> Kanban board</h2>
  <div class="statistics">
    <ul>
      <li><%= link_to @stats.backlogs, backlog_url(project_id_str: @board.project_id_str) %><span>Backlogs</span></li>
      <li><%= link_to @stats.ships, result_url(project_id_str: @board.project_id_str) %><span>Ships</span></li>
    </ul>
  </div>
</header>
<div class="board-container">
  <table class="board">
    <%= render partial: 'header', locals: { phases: @board.header.phases, phase_states: @board.header.phase_states } %>
    <%= render partial: 'body', locals: { phase_states: @board.header.phase_states, body: @board.body } %>
  </table>
</div>
