<header class="main">
<h1><%= @board.header.project_name %></h1>
</header>
<section class="container">
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <% @board.header.phases.each do |phase| -%>
            <th colspan="<%= phase.state_size %>" style="text-align: center">
              <%= phase.name %>&nbsp;<span class="badge-error"><%= phase.wip_limit %></span>
            </th>
          <% end -%>
        </tr>
        <tr>
          <% @board.header.phase_states.each do |phase_state| -%>
            <th style="text-align: center"><%= phase_state %></th>
          <% end -%>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</section>
