<header class="main">
  <h1><%= @backlog.project_name %></h1>
  <%= link_to 'Add feature', new_feature_url(project_id_str: params[:project_id_str]) %>
</header>
<section class="container">
  <div class="wrapper">
    <table class="tables-minimals">
      <thead class="identified actions">
        <tr>
          <th>#</th>
          <th>Summary</th>
          <th>Detail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @backlog.features.each do |feature| %>
          <tr>
            <td><%= feature.feature_id %></td>
            <td><%= feature.summary %></td>
            <td><%= feature.detail %></td>
            <td>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</section>
