<header class="page">
  <h2><%= link_to @backlog.project_name, projects_url %> : Backlog</h2>
  <nav>
    <%= link_to 'Add feature', new_feature_url(project_id_str: @backlog.project_id_str) %>
  </nav>
</header>
<section class="container">
  <div class="wrapper">
    <table class="tables-minimals">
      <thead class="identified actions">
        <tr>
          <th>#</th>
          <th>Summary</th>
          <th>Detail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @backlog.features.each do |feature| %>
          <tr>
            <td><%= feature.id %></td>
            <td><%= feature.summary %></td>
            <td><%= feature.detail %></td>
            <td>
              <%= form_for feature.add_card_form, url: card_addings_url do |f| %>
                <%= f.hidden_field :project_id_str %>
                <%= f.hidden_field :feature_id_str %>
                <%= f.submit 'Todo', disabled: @can_add_to_board ? false : true %>
              <% end -%>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</section>
