<!DOCTYPE html>
<html>
<head>
  <title>| Kanban | Core | Ext |</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= render 'layouts/flashes' %>
  </div>
  <%= yield %>
</body>
</html>
