<!DOCTYPE html>
<html>
<head>
  <title>Kanban/core_ext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1><%= link_to 'Kanban core extension', root_url %></h1>
  </nav>
  <hr>
  <%= render 'layouts/flashes' %>
  <%= yield %>
</body>
</html>
