<!DOCTYPE html>
<html>
<head>
  <title>Kanban::Core::Ext - Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="width: <%= 300 * @board.stage_size %>px">
  <nav>
    <h1><%= link_to 'Kanban core extension', root_url %></h1>
  </nav>
  <hr>
  <%= render 'layouts/flashes' %>
  <%= yield %>
</body>
</html>
