<!DOCTYPE html>
<html>
<head>
  <title>| Kanban | Core | Ext |</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header-container">
    <header>
      <h1 class="brand"><%= link_to "|---|---|---|", root_url %></h1>
      <h2></h2>
    </header>
  </div>
  <%= render 'layouts/flashes' %>
  <header class="page">
    <h2><%= @board.project_name %></h2>
  </header>
  <div class="board-container" style="width: <%= 300 * @board.stage_size %>px">
    <%= yield %>
  </div>
</body>
</html>
